@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        Tuple.Create("Blog", Context.GetLink("blog")),
        Tuple.Create("Documentation", Context.GetLink("docs")),
        Tuple.Create("API", Context.GetLink("api")),
        Tuple.Create("<i class=\"fa fa-github\"></i> Source", "https://github.com/LitJSON/litjson")
    };
    foreach(Tuple<string, string> pageTuple in pages)
    {
        string active = Context.GetLink(Document).StartsWith(pageTuple.Item2) ? "active" : null;
        <li class="@active"><a href="@pageTuple.Item2">@Html.Raw(pageTuple.Item1)</a></li>
    }
}