Title: Documentation
---

<h1>Introduction</h1>

<p>JSON is a simple, yet powerful notation to specify data. It defines simple scalar types such as boolean, number (integers and reals) and string, and a couple of data structures: arrays (lists) and objects (dictionaries). For more information on the JSON format, visit <a href="http://www.json.org/">JSON.org</a>.</p>

<p>LitJSON is a C# .Net library to handle conversions from and to JSON (JavaScript Object Notation) strings.</p>

@Html.Partial("_ChildPages")

<iframe width="100%" height="450" src="https://dotnetfiddle.net/Widget?Languages=CSharp&CSharp_FiddleId=eaiQS6" frameborder="0"></iframe>