Title: Documentation
---

<h1>Introduction</h1>

<p>JSON is a simple, yet powerful notation to specify data. It defines simple scalar types such as boolean, number (integers and reals) and string, and a couple of data structures: arrays (lists) and objects (dictionaries). For more information on the JSON format, visit <a href="http://www.json.org/>JSON.org</a>.</p>

<p>LitJSON is written in C#, and it’s intended to be small, fast and easy to use. It was developed on a GNU/Linux environment, using the<a href="http://www.mono-project.com/">Mono</a> framework.</p>

@Html.Partial("_ChildPages")